<div class="row">
	<div class="col-md-12">
		<h1><%= @assignment.user.f_name %> en <%= @assignment.project.name %></h1>
	</div>
</div>

<div class="row">
	<%= render 'project_user_commitments' %>
</div>

