<td class="content" id="content_<%= task.id %>">
	<!-- header -->
	<div class="row task_header">
		<%= render 'projects/explorer/task_header', task: task %>
	</div>
	
	<!-- contenido -->
	<div class="row">
		<%= render 'projects/explorer/task_name', task: task %>
	</div>

	<!-- times -->
	<div class="row task_times">
		<%= render 'tasks/task_times', task: task %>
	</div>
</td>