<!-- VISTA OBSERVACIONES DE MODAL TAREA -->

<div class="row">
	<div class="col-md-12 section_title">
		<h5>Historial</h5>
	</div>
</div>


<!-- historial -->
<%= render 'history_list' %>


<% if current_user.can_edit_task(@task) %>
	<!-- agregar comentario -->
	<div class="row">
		<div class="col-md-12 section_title">
			<h5>Agregar comentario</h5>
		</div>
		<div class="col-md-12 little-form">
			<%= render 'comment_form' %>
		</div>
	</div>
<% end %>


<!-- nuevo reporte  -->
<% if current_user.can_report_task(@task) %>
	<div class="row">
		<div class="col-md-12 section_title">
			<h5>Reportar avance</h5>
		</div>
		<div class="col-md-12">
			<%= render 'report_form' %>
		</div>
	</div>
<% end %>
