<!-- VISTA OBSERVACIONES DE MODAL TAREA -->
<div class="row">
	<div class="col-md-12 section_title">
		<h5>General</h5>
	</div>
	<div class="col-md-12">
		<div class="full little-form section_content">
			<%= render "tasks/form" %>
		</div>
	</div>
</div>

<!-- DESPLAZAR TAREA -->
<div class="row">
	<div class="col-md-12 section_title">
		<h5 title="desplazar">Desplazar tarea</h5>
	</div>
	<div class="col-md-12">
		<div class="full little-form section_content">
			<%= render "tasks/move_dates_form" %>
		</div>
	</div>
</div>


<!-- ZONA DE PELIGRO -->
<div class="row">
	<div class="col-md-12 section_title">
		<h5>Zona de peligro</h5>
	</div>
	<div class="col-md-12">
		<div class="full section_content">
			<%= link_to_modal 'Eliminar tarea', task_delete_confirmation_path(@task),{class: 'btn btn-danger', type:'button'}%>
		</div>
	</div>
</div>
