<table id="filters_table">
	<tr>
		<!-- buscador -->
		<td style="display: none;">Buscar: <%= text_field_tag 'search_field', '',{ class:'search_field'} %></td>

		<!-- pin -->
		<td class="toggle_button" id="pin"><span class="glyphicon glyphicon-pushpin" title="Tareas marcadas como importantes"></span></td>
		<!-- atrasdas -->
		<td class="toggle_button" id="delayed"><span class="glyphicon glyphicon-time" title="Tareas atrasadas"></span></td>
		<!-- fechas -->
		<td id="date_select_filter_td"><%= select_tag 'date_select_filter', options_for_select(time_filter_options, 'Todos'), { id:'date_select_filter'} %></td>

		<!-- condicion -->
		<td style="display: none;">Condicion: <%= select_tag 'status_select_filter', options_for_select(status_filter_options, 'Todos'), { id:'status_select_filter'} %></td>

	</tr>
</table>