<table class="kanban_filters">
	<tr>
		<td>Buscar: <%= text_field_tag 'search_field', '',{ class:'search_field'} %></td>
		<td id="date_select_filter_td">Periodo: <%= select_tag 'date_select_filter', options_for_select(time_filter_options, 'Todos'), { id:'date_select_filter'} %></td>
		<td>Condicion: <%= select_tag 'status_select_filter', options_for_select(status_filter_options, 'Todos'), { id:'status_select_filter'} %></td>
	</tr>
</table>
<!-- 
<table>
	<tr>
		<td>
			<div class="btn-group">
				<button type="button" class="btn btn-default" aria-label="Left Align">Todos</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">Atrasados</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">Comienza en</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">Termina en</button>
			</div>
		</td>
		<td>
			<div class="btn-group">
				<button type="button" class="btn btn-default" aria-label="Left Align">Hoy</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">1 semana</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">15 días</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">1 mes</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">Todos</button>
			</div>
		</td>
	</tr>
</table> -->