<div class="parent_name">
	<%= task.parent_name %>
</div>

<!-- if task.project.resources_type != 0  -->
	<!-- <div class="nombre_usuario" align="center"> -->
		 <!-- number_with_delimiter(task.resources_cost.to_i)   (task.project.f_resources_type)  -->
	<!-- </div> -->
 <!-- end  -->

 <div class="tags">
 	<table>
 		<tr>
 			<td><span id="urgent_<%= task.id %>" class="glyphicon glyphicon-pushpin urgent <%= urgent_task_class(task)%>" title="<%= urgent_task_title(task) %>"></span></td>
 		</tr>
 	</table>
 </div>
