<table class="full">
	<tr>
		<% if !task.has_children? && task.progress != 100 %>
			<% if current_user.can_report_task(task) %>
				<% if !task.project.resources_reporting %>
					<td class="fast-reporter border-left">
						<%= link_to '<span class="glyphicon glyphicon-check"></span>'.html_safe, task_fast_report_path(task, user_id: current_user.id), remote: true, title:'Marcar como terminada' %>
					</td>
				<% end %>
			<% end %>
		<% end %>

		<td>
			<span><%= task.duration.to_i %>d</span>
		</td>
	</tr>
</table>