<!-- El item lleva el id de la task en el atributo HTML 'id' -->
<div class="item" id="item_<%= task.id %>">

		<div class="row">
			<table class="full content_table">
				<tr>
					<!-- contenido que se reemplaza despues por ajax -->
					<%= render 'projects/explorer/content', task: task %>

					<!-- flecha para ir a hijos -->
					<td class="helper <%= task.has_children? ? 'parent' : '' %>" title="Ver tareas hijas">
						<%= link_to '<div class="arrow"><span class="glyphicon glyphicon-chevron-right"></span></div>'.html_safe, project_add_tree_view_column_path(task.project, parent_id: task.id), {remote: true, id: 'item_' + task.id.to_s + '_link', class:'slow_ajax'}%>
					</td>
				</tr>
			</table>
		</div>
</div>


