<div class="full header">
	<table class="full">
		<tr>
			<td>
				EXPLORADOR <%= @project.name.upcase %>
			</td>
			<td id="full_screen_switch">
				<span class="glyphicon glyphicon-fullscreen" title="Pantalla completa"></span>
			</td>
		</tr>
	</table>
</div>