<div class="row">
  <div class="col-md-6">
    <h1>Usuarios de <%= @enterprise.name %></h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @enterprise.users.each do |u| %>
          <!-- Si es el mismo usuario, no se muestra -->
          <% if u != current_user %>
            <tr>
              <td><%= u.f_name %></td>
              <td><%= link_to 'Detalles', u %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to_modal 'Nuevo usuario para ' + @enterprise.name , new_user_path(enterprise_id: @enterprise.id) %>
  </div>
</div>