<div class="row">
  <div class="col-md-6">
    <h1>Usuarios de <%= @project.name %></h1>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @project.assignments.each do |a| %>
          <tr>
            <td><%= a.user.f_name %></td>
            <td><%= link_to 'eliminar asignación', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to_modal 'Asignar este proyecto a un usuario', new_assignment_path(project_id: @project.id) %>
  </div>
</div>