<div class="row">
	<div class="col-md-12">
		<h1>Usuarios</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<table class="table">
			<thead>
				<th>Nombre</th>
				<th>Categoria</th>
			</thead>
			<% @users.each do |u| %>
				<tr>
					<td><%= u.f_name %></td>
					<td><%= u.super_admin ? 'Super admin' : 'Usuario normal' %></td>
				</tr>
			<% end %>
		</table>
		<%= link_to_modal 'Nuevo usuario', new_user_path %>
	</div>
</div>