<div class="row">
	<div clas="col-md-12">
		Agregar nuevo proyecto
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>Creación simple</h2>
		<%= render 'form' %>
	</div>

	<div class="col-md-6">
		<h2>Importar proyecto de MS Project</h2>
		<%= render 'import_form' %>
	</div>
</div>
