<div class="row">
  <div class="col-md-12">
    <h1><%= @project.name %></h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <%= link_to 'Usuarios', project_users_path(@project) %>
  </div>
</div>
