<!-- titulo -->
<div class="row">
	<div class="col-md-12">
		<h1>Estadisticas</h1>
	</div>
</div>

<!-- MENU tabs -->
<div class="row pro_tabs option_group">
	<div class="col-md-12">
		<table>
			<tr>
				<td class="option active" id="tab_1">Graficos de avance</td>
				<td class="option" id="tab_2">Tareas</td>
			</tr>
		</table>
	</div>
</div>


<!-- INDICADORES -->
<div class="row content_tab" id="content_tab_1">
	<div class="col-md-12 pro_container">
		<div class="container">
			<div class="title">
				<span class="glyphicon glyphicon-list-alt"></span>
				Indicadores
			</div>
			<div class="row" id="indicators">
				<% if @project.resources_type != 0 %>
					<%= render 'resources_indicators' %>
				<% else %>
					<%= render 'days_indicators' %>
				<% end %>

				<% if @project.resources_reporting %>
					<%= render 'performance_indicators' %>
				<% end %>
			</div>
		</div>

	</div>
</div>


<!-- ASIGNACIONES -->
<%= render 'projects/stads/tasks' %>
