<!-- INDICADORES -->
<div id="indicators">
    <div ng-controller="DaysChartCtrl" class="ng-scope">
        <highchart id="chart" config="highchartsNG" style="width: 1000px;"></highchart>
    </div>
    
    <div ng-controller="ResourcesChartCtrl" class="ng-scope">
        <highchart id="chart" config="highchartsNG" style="width: 1000px;"></highchart>
    </div>

    <div ng-controller="DesempenoChartCtrl" class="ng-scope">
        <highchart id="chart" config="highchartsNG" style="width: 1000px;"></highchart>
    </div>
</div>