$background: #DDDDDD;

/*explorer header*/
$azul: #486583;
/*kanbantt header*/
$azul_dos: #3D8EB9;

/*horzontal sub menu active item*/
$azul_cinco: #586474;
/*horzontal sub menu*/
$azul_seis: #3e4651;
$azul_cuatro: #4d5965;

$celeste: #72bac9;

$gris_uno: #ababab;
$gris_dos: #555;
$gris_tres: #f9f9f9;
$gris_cuatro: #eee;
$gris_cinco: #809296;
$gris_seis: #DBDBDB;


$gris_oscuro: #cccccc;
$gris_intermedio: #dddddd;
$gris_claro: #eeeeee;

$disabled: #C5C5C5;

$verde: #41B46F;
$rojo : #EC6A5A;
$naranjo: #CD6E22;

