/* Forms Modal */
/*forms*/
 @import "colours";
.form-control{
	width: auto;
}

.little-form{

	.form-group{	
		margin-bottom: 5px;
	}
	.form-control{
		color: $azul;	
		font-size: 12px !important;
		width: auto;
		padding: 3px 6px;
		height: auto;
		border-radius: 0px !important;
	}
	.btn{
		padding: 3px 6px;
		font-size: 12px !important;
		color: white !important;
		border-radius: 0px;
		background: $azul;
	}
	.btn-primary{
		background: $azul !important;
	}
	.btn-danger{
		background: $rojo !important;
	}
	.control-label{
		font-size: 12px;
		font-weight: 100;
		color: gray;
	}

}

