 @import "colours";

.kanbantt_header{
	color: white;
	background: $azul_dos;
	padding: 0px 20px;
	a{
		color: white;
	}
	a:hover{
		color: $azul;
	}

	table{
		td{
			height: 45px;
			padding: 0px 10px;
		}
	}

	/* imagen de la izquierda */
	.kanbantt{
		float: left;
		td{
			img{
				width: 100px;
			}
		}
		td:first-child{
			padding: 0px 20px 0px 0px;
		}
	}

	.user_and_notifications{
		float: right;
		.user_menu{

			.btn{
				background: transparent;
			}

			.dropdown-toggle{
				border-left: 1px solid white;
			}

			.dropdown-menu{
				right:0 !important;
				left: auto;
				top: 40px;
			}
		}
		td:last-child{
			padding: 0px 0px 0px 10px;
		}
	}
}