// Place all the styles related to the KanbanBoard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colours";
#kanban_board{

	#filters{
		background: white;
		padding: 10px 0px;
		table{
			width: 100%;

			td{
				float: right;
				padding: 0px 30px;
			}
		}
	}



	.column_kanban {
		height: 600px;
		overflow-y: scroll;
		padding-right: 3px;
		padding-bottom:20px;
	}

	.column{
		ul{
			min-height: 400px;
			
		}

		.column_title{
			width: 100%;
			color: #333333;
			padding: 10px 0px;
			h3 {font-size:20px; margin: 0px; margin-right: 8px;}		
		}

	}
	.sortable_group{

		padding: 10px 0px;
		border-radius: 5px;
		list-style-type:none;

	}
	.sortable_group li{
		background: white;
		border: 1px solid gainsboro;
		cursor:pointer;
		margin-bottom:10px;
		border-radius:3px;

	}
	.remaining{
		display: inline-block;
		padding: 5px 10px;
		margin: 2px;
		border-radius: 3px;
		font-size: 12px;
		color:white;
		font-weight:bold;
	}

	.started{
		color: $verde;
	}
	.not_started{
		color: $rojo;
	}

	.real_progress{
		display: inline-block;
		padding-right: 5px;
		border-left: 1px solid $gris_uno;
	}

	.expected_progress{
		display: inline-block;
		padding-left: 5px;
		color: $gris_uno;
	}
	.task_header{

		.parent_name{
			background-color:#3D8EB9;
			color:white;
			float:left;
			padding-left: 5px;
			padding-right: 5px;
			margin-bottom: 8px;
		}
		.tags{
			float: right;
			td{
				padding: 3px;
				span{
					color: $gris_uno;
					font-weight: bold;
				}
				span:hover{
					color: black;
				}
				span.active{
					color: $azul_dos;
				}
				span.active:hover{
					color: $rojo;
				}
			}
		}
	}
	.task_name{
		background-color:lighten(black,95%);
		padding: 10px;
		border-top: 1px solid #D8D8D8;
		border-bottom: 1px solid #D8D8D8;
		color: #3b5998;
		font-size:15px;
	}


}




.task_footer{
	table{
		width: 100%;
		td{
			padding: 5px 10px;
		}
	}
	.bad{
		color: $rojo;
	}
	.great{
		color: $verde;
	}
	.expected_progress{
		color: $gris_uno;
		float: right;
	}
	.real_progress{
		float: right;
	}
}