@import "colours";
.notification_group{
	.icon{
		font-size: 20px;
	}
	a{
		text-decoration: none;
		color: #444;
	}
	button{
		border: none;
		background: none;
		span{
			color: white;
		}
	}
	ul.notification_menu{
		color: #444;
		position: absolute;
		right: 0px;
		left: auto;
		padding: 0px;

		li.header{
			margin-bottom: 10px;
			background: white;
			font-size: 12px;
			text-align: left;
			color: $azul;
			font-weight: bold;
			padding: 5px 0px;
			min-width: 250px;
		}
		.notification_item{
			font-size: 10px;
			margin-top: 10px;
			border-bottom: 1px solid $gris_cuatro;
			.header{
				color: gray;
			}

			.content{
				font-weight: bold;
				font-size: 10px;
			}

			.footer{
				color: gray;
				table{
					float: right;
					td{
						padding: 0px 5px;
						height: auto !important;
					}
					td.real_progress{
						border-right: 1px solid $gris_cuatro;
					}
				}
			}
		}
	}
}

.notification_group.open{
	button{
		background: none !important;
	}
}

.notification_group:hover{
	button{
		background: none;
	}
}