 @import "colours";

.task_show{
	background: white;

	h3{
		font-size: 16px;
	}

	.roof{
		td{
			padding: 0px 10px;
			font-size: 12px;
		}
		.project_name{
			background: #045CB3;
			color: white;
		}
		.duration{
			background: gray;
			color: white;
		}
	}

	.header{
		padding: 20px 0px 10px 0px;
		border-bottom: 1px solid #dddddd;

		.ancestry{
			color: gray;
			font-size: 10px;
		}
	}
	.left_panel{
		position: absolute;
		border-right: 1px solid #cdcdcd;
		left: 0px;
		top: 0px;
		bottom: 0px;
		padding: 0px;

		.task_name{
			border-bottom: 1px solid gray;
		}

		table{
			width: 100%;
			td{
				span{
					font-size: 20px;
				}
			}
			tr{
				td:first-child{
					padding: 10px 0px 10px 10px;
					font-size: 12px;
				}
				td:last-child{
					font-size: 12px;
				}
			}
			.option.active{
				color: $azul;
				a{
					color: $azul;
					text-decoration: none;
				}
			}
		}
	}

	.right_panel{
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding: 0px;
		overflow-y: auto;
		.title{
			font-size: 16px;
			border-bottom: 1px solid #dddddd;
			color: gray;	
			padding: 10px 0px;
			text-align: left;
		}

		/*resumen*/
		.graphs{
			text-align: center;

			.real{
				color: gray;
			}

			.expected{
				color: #045CB3;
			}

			.titles{
				td{
					padding: 20px 0px 10px 0px;
				}
			}

			.indicators{
				font-size: 22px;
			}


			img{
				width: 40%;
			}
		}

		.separated{
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	.table{
		th{
			border-bottom: none;
		}
		td{
			border: none;
		}
	}
}