<p>Hello <%= @resource.email %>!</p>

<p>Alguien ha pedido un link para cambiar tu contrase침a. Puedes hacer esto con el link de abajo.</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has hecho esta solicitud, por favor ignora este mail.</p>
<p>Tu contrase침a no cambiar치 hasta que accedas al link de arriba y crees una nueva.</p>
