
<div class="body">
	<%= render 'layouts/horizontal'%>
	<div class="contenido">
		<div class="yield">
			<%= yield %>
		</div>
	</div>
</div>

<!-- guardamos el id del usuario logueado para accederlo por jquery -->
<div id="current_user_id" style="display:none"><%= current_user.id %></div>